<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UX-Pin</title>
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="./enter_page.html"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"><b>Manage your team</b></a>
                </li>
            </ul>
            <b id="trial_text">Trial version</b>, <a class="nav-link" href="#" onclick="change_text()">Upgrade</a>
            <img src="../images/test_image.jpg" style="height: 30px; align-content: center" alt="logo"/>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="../images/test_image.jpg" class="m-3" style="height: 50px; display: inline">
            <h2 style="text-align: center">User Management</h2>
            <div class="card border-danger m-2" style="height: 60vh; width: 1050px;">
                <div class="card-body">
                    <table class="table mt-3">
                        <thead>
                        <tr>
                            <th scope="col">Role</th>
                            <th scope="col">Permission 1</th>
                            <th scope="col">Permission 2</th>
                            <th scope="col">Permission 3</th>
                            <th scope="col">Permission 4</th>
                            <th scope="col">Permission 5</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" style="height: 50px;">Owner</th>
                            <td>+</td>
                            <td>+</td>
                            <td>+</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row" style="height: 50px;">Manager</th>
                            <td>-</td>
                            <td>+</td>
                            <td>+</td>
                            <td>+</td>
                            <td>+</td>
                        </tr>
                        <tr>
                            <th scope="row" style="height: 50px;">Creator</th>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>+</td>
                        </tr>
                        <tr>
                            <th scope="row" style="height: 50px;">Colaborator</th>
                            <td>+</td>
                            <td>+</td>
                            <td>-</td>
                            <td>-</td>
                            <td>+</td>
                        </tr>
                        <tr>
                            <th scope="row" style="height: 50px;">Developer</th>
                            <td>+</td>
                            <td>-</td>
                            <td>-</td>
                            <td>+</td>
                            <td>+</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-danger m-2" style="height: 77vh; width: 180px;">
                <div class="card-body">
                    <h5 class="m-2">Choose User</h5>
                    <hr>
                    <button type="button" class="btn btn-outline-dark m-2" style="width: 140px">1. User1</button>
                    <button type="button" class="btn btn-outline-dark m-2" style="width: 140px">2. User2</button>
                    <button type="button" class="btn btn-outline-dark m-2" style="width: 140px">3. User3</button>
                    <button type="button" class="btn btn-outline-dark m-2" style="width: 140px">4. User4</button>
                    <button type="button" class="btn btn-outline-dark m-2" style="width: 140px">5. User5</button>
                    <button type="button" class="btn btn-outline-dark m-2" style="width: 140px">6. User6</button>
                    <button type="button" class="btn btn-outline-dark m-2" style="width: 140px">7. User7</button>
                    <button type="button" class="btn btn-outline-dark m-2" style="width: 140px">8. User8</button>

                </div>
            </div>
        </div>
    </div>

    <hr>
    <b>&copy; UX-Pin official, all rights reserved</b>
    <a href="">Support Developers</a>
    <hr>
</div>
<script src="../js/main.js">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>